/* Color Theme: */

:root {
  --darkGunmetal: #0e2533;
  --absoluteBlue: #0156cd;
  --darkBlue: #00297a;
  --midBlue: #7da2e0;
  --softBlue: #e4edfa;
  --appThemeFont: "Poppins", sans-serif;
}

.createPostDialog {
  background-color: var(--midBlue);
}

.postsContainer {
  margin: 0 100px 50px;
  background-color: var(--softBlue);
  padding: 15px 0px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-image: radial-gradient(
      circle at 10% 26%,
      rgba(90, 90, 90, 0.06) 0%,
      rgba(90, 90, 90, 0.06) 25%,
      rgba(137, 137, 137, 0.06) 25%,
      rgba(137, 137, 137, 0.06) 50%,
      rgba(185, 185, 185, 0.06) 50%,
      rgba(185, 185, 185, 0.06) 75%,
      rgba(232, 232, 232, 0.06) 75%,
      rgba(232, 232, 232, 0.06) 100%
    ),
    radial-gradient(
      circle at 46% 66%,
      rgba(171, 171, 171, 0.06) 0%,
      rgba(171, 171, 171, 0.06) 25%,
      rgba(128, 128, 128, 0.06) 25%,
      rgba(128, 128, 128, 0.06) 50%,
      rgba(84, 84, 84, 0.06) 50%,
      rgba(84, 84, 84, 0.06) 75%,
      rgba(41, 41, 41, 0.06) 75%,
      rgba(41, 41, 41, 0.06) 100%
    ),
    linear-gradient(90deg, rgb(228, 237, 250), rgb(228, 237, 250));
}

.post {
  max-width: 540px;
}

.mainTitle {
  font-family: var(--appThemeFont);
  text-align: center;
  color: var(--darkBlue);
  font-size: 50px;
}

.dialogMainTitle {
  font-family: var(--appThemeFont);
  text-align: center;
  color: var(--darkBlue);
  font-size: 30px;
}

.dialogContent {
  font-family: var(--appThemeFont);
  color: var(--darkBlue);
  padding: 20px;
  font-size: 16px;
}

.newPostPopupBtn {
  color: var(--darkBlue);
  display: block;
  position: inherit;
  text-align: center;
  margin-bottom: 1%;
}

label {
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#textareaID {
  margin-top: 15px;
}

.postTitle {
  color: var(--absoluteBlue);
  font-size: 17px;
}

.postCard {
  /*card sizes*/
  height: 20%;
  width: 22%;
  font-size: 15px;

  color: var(--darkBlue);

  /*card background color*/
  background-color: #ebf1fa;
  border-radius: 8px;

  margin: 15px;

  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postCardContent {
  padding: 3%;
}

#img-box {
  /*card border props*/
  border-radius: 50%;
}

.form-row {
  margin: 5px 0px 5px 0px;
}

.text-muted {
  font-size: 11px;
}
