.posts {
  font-size: 12px;
  margin: 20px 300px;
  padding: 50px 100px; /*top-bottom right-left*/
  text-align: start;
  border-radius: 25px;
  border-style: solid;
  border-color: #0156cd;
  max-width: 540px;
}

.post {
  max-width: 540px;
}
#NewPostPopupBtn {
  display: block;
  position: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

label {
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#textareaID {
  margin-top: 15px;
}

#Submit {
  margin-top: 20px;
}

#PostCard {
  width: 200px;
}
