/* Color Theme:
Dark gunmetal #0E2533
Absolute blue #0156CD
Dark blue #00297a
Mid blue #7DA2E0
Soft blue #e4edfa 
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

#White_background {
  margin: 20px 300px;
  padding: 50px 100px; /*top-bottom right-left*/
  text-align: start;
  border-radius: 25px;
  border-style: solid;
  border-color: #0156cd;
  background-image: radial-gradient(
      circle at 10% 26%,
      rgba(90, 90, 90, 0.06) 0%,
      rgba(90, 90, 90, 0.06) 25%,
      rgba(137, 137, 137, 0.06) 25%,
      rgba(137, 137, 137, 0.06) 50%,
      rgba(185, 185, 185, 0.06) 50%,
      rgba(185, 185, 185, 0.06) 75%,
      rgba(232, 232, 232, 0.06) 75%,
      rgba(232, 232, 232, 0.06) 100%
    ),
    radial-gradient(
      circle at 46% 66%,
      rgba(171, 171, 171, 0.06) 0%,
      rgba(171, 171, 171, 0.06) 25%,
      rgba(128, 128, 128, 0.06) 25%,
      rgba(128, 128, 128, 0.06) 50%,
      rgba(84, 84, 84, 0.06) 50%,
      rgba(84, 84, 84, 0.06) 75%,
      rgba(41, 41, 41, 0.06) 75%,
      rgba(41, 41, 41, 0.06) 100%
    ),
    linear-gradient(90deg, rgb(228, 237, 250), rgb(228, 237, 250));
}

#Main_Title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #00297a;
  font-size: 50px;
}

#Sub_title {
  font-size: 20px;
  text-align: center;
}

.logInForm {
  display: block;
  width: 65%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

#SignIn,
#SignOut {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#SignIn {
  margin-top: 55px;
}

#copyright {
  text-align: center;
  font-size: 14px;
}

#Submit {
  margin-top: 55px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
