/* Color Theme:
Dark gunmetal #0E2533
Absolute blue #0156CD
Dark blue #00297a
Mid blue #7DA2E0
Soft blue #e4edfa 
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

#White_background {
  margin: 20px 300px;
  padding: 50px 100px; /*top-bottom right-left*/
  text-align: start;
  border-radius: 25px;
  border-style: solid;
  border-color: #0156cd;
}

#Main_Title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #00297a;
  font-size: 50px;
}

#SubTitle {
  font-size: 20px;
  text-align: center;
}

#copyright {
  text-align: center;
  font-size: 14px;
}

#Center_Photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 25px;
  border-style: solid;
  border-color: #7da2e0;
}
